<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="4" offsetSm="4">

        <ion-label position="stacked">Profile image</ion-label>
        <ion-input type="file" clearInput (change)="processFile($event)"></ion-input>

      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col *ngIf="originalImageBase64">
        <ion-label>Original image</ion-label>
        <img [src]="originalImageBase64" alt="">
      </ion-col>

      <ion-col *ngIf="croppedImageBase64">
        <ion-label>Cropped image</ion-label>
        <img [src]="croppedImageBase64" alt="">
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
